{% extends "layout.html" %}

{% block title %} Inicio {% endblock %}

{% block main %}
<div class="bgimg-1" style="background-image: url('static/images/camara.png')">
    <div class="caption">
        <span class="border">E ai, <strong><span style="font-style: italic; color: green;">Lembrô</span></strong> de ver
            o que o teu
            candidato anda fazendo?</span>
    </div>
</div>

<div class="index-paragraph">
    <h3>O que é o <strong>Lembrô</strong>?</h3>
    <p>Uma parte vital da democracia é o envolvimento do povo no processo eleitoral, bem como na vida política
        quotidiana. Ir às urnas no dia das eleições é uma parte vital da democracia, mas não é tudo. As pessoas devem
        acompanhar as ações de seus candidatos e verificar se estão colocando em prática o que foi pregado durante a
        campanha. Por meio desse monitoramento, podemos entender o quanto nossos congressistas estão comprometidos com o
        progresso da Nação.

        É muito comum no Brasil irmos às urnas no dia das eleições e votar em nossos parlamentares. No entanto, é
        incomum para nós acompanharmos as ações daqueles que foram eleitos. Isso acontece por vários motivos, mas
        principalmente porque nós não sabemos onde encontrar informações sobre os nossos congressistas.<br /><br />

        É ai que entra o <strong>Lembrô</strong>! O nosso objetivo é tentar acabar com este problema. É reunir em um só
        site todas as informações dos parlamentares do Brasil, bem como a nova legislação em votação, para que o usuário
        acompanhe seu candidato após eleito e verifique se ele ou ela está agindo de acordo com suas promessas.</p>
</div>

<div class="bgimg-2" style="background-image: url('static/images/esplanada.png')">
    <div class="caption">
        <span class="border">Visite o site da
            <a href="https://www.camara.leg.br/" style="color: green;"> Câmara dos Deputados</a></span>
    </div>
</div>

<div class="index-paragraph" style="position:relative;">
    <div>
        <h3>História da <strong>Câmara dos Deputados</strong></h3>
        <p>A Câmara dos Deputados foi criada pela primeira Constituição brasileira, em 1824. Imposta pelo imperador d.
            Pedro 1º, a Constituição do Império instituiu a Assembleia Geral Legislativa, composta pela Câmara dos
            Deputados, com 102 integrantes escolhidos em eleições indiretas, e pela Câmara dos Senadores, com 50
            integrantes de mandato vitalício – membros da nobreza, da magistratura e do clero. Assim, o Parlamento
            brasileiro já nasceu com o sistema bicameral que vigora até hoje.<br /><br />

            A sessão de abertura da primeira legislatura da Assembleia Geral Legislativa ocorreu em 6 de maio de 1826,
            quando enfim os deputados e senadores puderam participar do processo legislativo brasileiro, três anos e
            meio após a proclamação da Independência do Brasil.

            A criação do Legislativo se deu após um período turbulento. O imperador havia criado uma Assembleia
            Constituinte para elaborar a primeira Constituição brasileira, mas a dissolveu seis meses depois em razão
            dos confrontos com os deputados.
            <a href="https://www2.camara.leg.br/camaranoticias/noticias/POLITICA/564358-CONHECA-A-HISTORIA-DA-ASSEMBLEIA-CONSTITUINTE-DE-1823.html"
                style="color: black;"> Conheça a história da Constituinte de 1823</a>.<br /><br />

            O fim da monarquia e a Proclamação da República, em 1889, deram origem a um Congresso Constituinte, que
            promulgou a primeira Constituição republicana em 1891. Esta Carta deu às Casas do Poder Legislativo os nomes
            que conservam até hoje: o Congresso Nacional, composto de Câmara dos Deputados e Senado.

            A duração do mandato dos deputados (ou seja, a legislatura) era de três anos, e a dos senadores, nove anos.
            A cada eleição de deputados, renovava-se um senador, que eram três por estado.<br /><br />

            A Constituição de 1988, a sétima do Brasil, estabeleceu a atual configuração do Poder Legislativo. O número
            de deputados foi fixado em 513, eleitos pelo sistema proporcional de votos para mandatos de quatro anos,
            sendo no mínimo 8 e no máximo 70 por unidade federativa, em totais que variam conforme a população. Os
            senadores, três por unidade federativa e 81 no total, são eleitos pelo voto majoritário para mandatos de
            oito anos. A cada legislatura (quatro anos) são renovados um ou dois senadores por estado.</p>
    </div>
</div>

<div class="bgimg-3" style="background-image: url('static/images/planalto.png')">
    <div class="caption">
        <span class="border">Confira os
            <a href="https://www.camara.leg.br/transparencia/gastos-parlamentares" style="color: green;"> gastos</a> dos
            nossos Deputados</span>
    </div>
</div>

<div class="index-paragraph" style="position:relative;">
    <div>
        <h3>Sedes da <strong>Câmara dos Deputados</strong></h3>
        <p>O local escolhido no Império para sediar a primeira Assembleia Constituinte foi o prédio da Cadeia Velha, que
            estava desocupado. Foi lá que o alferes Joaquim José da Silva Xavier, o Tiradentes, havia ficado preso
            durante três anos, antes de ser enforcado em 21 de abril de 1792.

            Dissolvida a Constituinte, o prédio abrigou a partir de 1826 a Câmara dos Deputados. Este local foi palco de
            momentos históricos, como a aprovação da Lei Áurea, que aboliu a escravidão em 1888.<br /><br />

            Em 1922, já em situação precária, a Cadeia Velha foi demolida para dar lugar ao Palácio Tiradentes. Foi o
            primeiro prédio construído especificamente para sediar a Câmara dos Deputados, inaugurado em 6 de maio de
            1926.

            Pela ordem, as sedes da Câmara dos Deputados foram: Cadeia Velha (1826-1889; 1891-1914); Palácio de São
            Cristóvão (junho a novembro de 1891); Palácio Monroe (1914-1922); Biblioteca Nacional (1922-1926); Palácio
            Tiradentes (1926-1960); Palácio do Congresso Nacional, Brasília (1960 até hoje).</p>
    </div>
</div>

<div class="bgimg-4" style="background-image: url('static/images/brasilia.png')">
    <div class="caption">
        <span class="border">
            <a href="/register" style="color: green;">Registre-se</a> e acompanhe os seus candidatos salvos</span>
    </div>
</div>
{% endblock %}