{% extends "layout.html" %}

{% block title %}
    Entrar
{% endblock %}

{% block main %}
    <h4 class="heading-formularios">Entre as suas credenciais para fazer o <strong>login</strong></h4>
    <div class="formularios">
        <form action="/login" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <button style="background-color: rgb(39, 177, 39); border-color: rgb(39, 177, 39);" class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>
{% endblock %}